
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MyLayout</title>
</head>
<body>
    <div style="height:40px;color:black; background-color:palevioletred;"> 
        <center>MySite</center>
    </div>
    <div style="height:100%;color:black; background-color:sandybrown;">
        @RenderBody()
    </div>
</body>
</html>
