
@{
    ViewBag.Title = "Index";
     

}

<h2>Index</h2>

<form action="~/Login/Index" method="post">
    <label>UserName</label>
    <input type="text" name="UserName" class="form-control" value="" /><br />
    <label>Password</label>
    <input type="text" name="Password" class="form-control" value="" /><br />
    <input type="submit" value="Login" />
</form>